    <footer>
        <div class="container">
            <div class="flexible">
                <div class="footer-logo"><img src="images/logo.png" alt=""></div>
                <div class="footer-copy">Title © 2018</div>
            </div>

        </div>
    </footer>

