.section-delivery{
  padding: 60px 0;
  background: $bg_section;
  &_content{
    .text{
      max-width: 800px;
    }
  }
  &_list{
    @include block_flex;
    @include flex_justify_between;
    text-align: center;
    &-item{
      width: 25%;
      padding:0 12px;
      .image{
        border: 3px solid $color_green_1;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin:30px auto;
        img{
          margin: -5px -5px 0;
          width: 105px;
          max-width: none;
        }
      }
    }
  }
  &-good{
    .img{
      border: 3px solid $color_green_1;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin:30px 0;
      img{
        margin: -5px -5px 0;
        width: 105px;
        max-width: none;
      }
    }
  }
}
@media(max-width: 980px){
  .section-delivery{
    padding: 40px 0;
    &_list{
      @include flex_wrap;
      &-item{
        width: 50%;
      }
    }
  }
}
@media(max-width: 860px){
  .section-delivery-good{
    .dop-info{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_between;
    }
    h3{
      @include flex_col_full;
    }
    .item{
      @include block_flex;
      margin-top: 10px;
      .img{
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        max-width: 100px;
        margin: 15px 20px 0 0;
      }
    }

  }
}
@media(max-width: 767px){
  .section-delivery{
    &_content{
      .flexible{
        @include flex_wrap;

      }
      .text{
        max-width: 100%;
        width: 100%;
      }
      .image{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
@media(max-width: 580px){
  .section-delivery_list-item{
    width: 100%;
    text-align: left;
    @include block_flex;
    @include flex_align_item_center;
    padding: 0;
    &+&{
      margin-top: 20px;
    }
    .image{
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      max-width: 100px;
      margin: 0;
      margin-right: 20px;
    }
  }
}