<section class="section-delivery" id="dost">
  <div class="container">
    <div class="section-delivery_content">
      <h2>Доставка и оплата</h2>
      <h3>мы даем 100%-ю гарантию,</h3>
      <div class="flexible">
        <div class="text">
          что Вы получите свою покупку в целости и сохранности!
          <br><br>

          Практика показывает, что повреждение или утрата посылок происходит крайне редко (менее 0,1% от общего числа отправлений). Тем не менее, если это произойдет, мы отправим Вам заказ повторно либо вернем деньги, если вы того пожелаете. При этом за повторную отправку Вам платить не надо! Таким образом, Вы можете быть уверены: Вы гарантированно получите свой заказ!
          <br><br>
          Со своей стороны мы делаем все, чтобы Вы получили покупку в целости и сохранности. Тем не менее, чтобы избежать любых недоразумений, обязательно проверяйте посылку при ее получении. Обращаем особое Ваше внимание! Гарантия на доставку действует, только если Вы обнаружили порчу сразу при получении заказа.
        </div>
        <div class="image"><img src="images/img1.png" alt=""></div>
      </div>
    </div>
    <div class="section-delivery_list">
      <div class="section-delivery_list-item">
        <div class="image"><img src="images/dost1.png" alt=""></div>
        Курьер привезет Вашу покупку в удобное для Вас время по указанному Вами адресу. Наш менеджер свяжется с Вами для уточнения удобного времени доставки.
      </div>
      <div class="section-delivery_list-item">
        <div class="image"><img src="images/dost2.png" alt=""></div>
        Стоимость доставки почтой России в любой регион составляет 300 рублей. В эту стоимость входят доставка до Московского отделения Почты России, отправление посылки и ее доставка до ближайшего почтового отделения Вашего региона.
      </div>
      <div class="section-delivery_list-item">
        <div class="image"><img src="images/dost3.png" alt=""></div>
        Посылку Вам доставляют не до почтового отделения, а прямо по указанному Вами адресу. Стоимость доставки рассчитывается в зависимости от веса посылки и дальности следования. Доставка почтой EMS производится только по 100 % предоплате заказа.
      </div>
      <div class="section-delivery_list-item">
        <div class="image"><img src="images/dost4.png" alt=""></div>
        Вы можете выбрать любой удобный для себя способ оплаты: через банк, с помощью терминала, онлайн, с помощью мобильного телефона и др.
      </div>
    </div>
  </div>
</section>