.section-contact{
  padding: 60px 0;
  background-color: #F2F2F2;
    &_form{
      max-width: 460px;
      margin: 0 auto;
    }
    .box-btn{
      text-align: center;
    }
    .phone{
      font-size: 40px;
      color: $color_black;
    }
  form{
    margin-top: 20px;
  }
}
@media(max-width: 980px){
  .section-contact{
    padding: 40px 0;
  }
}
@media(max-width: 580px){
  .section-contact .phone{
    font-size: 30px;
  }
}