<section class="section-contact" id="contact">
    <div class="container">
        <div class="text-center">
            <h2>Заказать</h2>
            <div class="section-contact_form">
                <div class="text">
                    Сделать заказ вы можете по телефону
                </div>
                <span class="phone">
                        +7 (495) 646-81-59
                    </span>
                <div class="text">
                    Или оставьте свой телефон.
                    Наши менеджеры сами свяжутся с вами
                    для уточнения деталей заказа
                </div>
                <form action="">
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Номер телефона">
                    </div>
                    <div class="form-btn">
                        <a data-toggle="modal" data-target="#thanks" class="btn btn-white">Заказать</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>