.section-comment{
  padding: 60px 0;
  text-align: center;
  &_list{
    @include block_flex;
    @include flex_wrap;
    @include flex_justify_between;
    text-align: center;
    &-item{
      width: 25%;
      padding:0 12px;
      font-size: 12px;
      .image{
        border: 3px solid $color_green_1;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin:30px auto 15px;
      }
      .town{
        font-size: 16px;
      }
      .name{
        font-size: 20px;
        color: $color_black;
        margin-bottom: 5px;
      }
      .age{
        font-size: 16px;
        margin-bottom: 5px;
      }
      .for-good &{
        width: 47%;
        margin-top: 30px;
      }
      .box-btn{
        margin-top: 20px;
      }
      .item-info{
        text-align: left;
        width: 22%;
        min-width: 120px;
        .name{
          text-transform: capitalize;
        }
      }
      .item-text{
        text-align: left;
        width: 73%;
      }
    }
  }
}
@media(max-width: 980px){
  .section-comment{
    padding: 40px 0;
    &_list{
      &-item{
        width: 47%;
        padding: 0;
      }
    }
  }
}
@media(max-width: 767px){
  .for-good .section-comment_list-item{
    width: 100%;
  }
}
@media(max-width: 580px){
  .section-comment_list-item{
    width: 100%;
    .image{
      margin: 20px auto 10px;
    }
    .for-good &{
      margin-top: 20px;
      .flexible{
        display: block;
      }
      .item-info,
      .item-text{
        width: 100%;
      }
    }
  }
}