<section class="section-comment for-good" id="comment">
  <div class="container">
    <div class="section-comment_content">
      <h2>Отзывы наших клиентов</h2>
      <div class="section-comment_list">
        <div class="section-comment_list-item">
           <div class="flexible">
             <div class="item-info">
               <div class="name">александр</div>
               <div class="date">20.11.2017</div>
             </div>
             <div class="item-text">
               Вы не справедливо поступили заплатил 4500р за 3 наклейки за неполный набор прислали а также не увидел утешительного подарка
             </div>
           </div>
          </div>
        <div class="section-comment_list-item">
          <div class="flexible">
            <div class="item-info">
              <div class="name">Елена</div>
              <div class="date">23.12.2017</div>
            </div>
            <div class="item-text">
              адалвтраовлл талаоволтап ап
            </div>
          </div>

        </div>
        <div class="section-comment_list-item">
          <div class="flexible">
            <div class="item-info">
              <div class="name">Любовь</div>
              <div class="date">29.12.2017</div>
            </div>
            <div class="item-text">
              Не заказывайте у них ни чего,это развод!!!Вместо 16 символов,прислали 8.Заказывала курьером и за него ещё почти 1000 содрали.Дозвониться теперь до них не могу,не берут трубку.Заказывала в подарок,спасибо вам огромное за испорченный новый год!!!!Аферисты.....
            </div>
          </div>
          </div>
        <div class="section-comment_list-item">
          <div class="flexible">
            <div class="item-info">
              <div class="name">A</div>
              <div class="date">18.06.2018</div>
            </div>
            <div class="item-text">
              Заказывал наноплёнку,прислали пустую коробку.
            </div>
          </div>
        </div>
        <div class="section-comment_list-item">
          <div class="flexible">
            <div class="item-info">
              <div class="name">Ваш отзыв</div>
            </div>
            <div class="item-text">
              Напишите его, заполнив форму ниже, Ваше мнение важно для нас.
              <div class="box-btn">
                <a data-toggle="modal" data-target="#form" class="btn btn-white">Написать отзыв</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>