<section class="section-comment">
  <div class="container">
    <div class="section-comment_content">
      <h2>Отзывы наших клиентов</h2>
      <div class="section-comment_list">
        <div class="section-comment_list-item">
          <div class="image"><img src="images/comm1.jpg" alt=""></div>
          <div class="name">
            ВАЛЕРИЙ, <span class="town">г. Москва</span>
          </div>
          <div class="age">
            Водительский стаж 10 лет
          </div>
          Заказал себе откидную рамку на задний номер пару месяцев назад. Езжу без проблем. Пару раз уже перестраховывался, когда мимо камер проезжал. Не то чтобы слишком превышал, но лишняя осторожность не помешает. Думаю купить еще рамку для переднего номера, чтобы уже наверняка.
        </div>
        <div class="section-comment_list-item">
          <div class="image"><img src="images/comm2.jpg" alt=""></div>
          <div class="name">
            ИРИНА, <span class="town">г. Нижний Новгород</span>
          </div>
          <div class="age">
            Водительский стаж 2 года
          </div>
          Купила себе рамки-перевертыши сразу же, как узнала о них. Как раз то, что надо для моего именного номера. Теперь могу легко и быстро менять номер, когда захочу. Рамки работают хорошо и смотрятся аккуратно. Мне нравится.
        </div>
        <div class="section-comment_list-item">
          <div class="image"><img src="images/comm3.jpg" alt=""></div>
          <div class="name">
            ИГОРЬ, <span class="town">г. Москва</span>
          </div>
          <div class="age">
            Водительский стаж 7 лет
          </div>
          Поставил две откидных рамки на номера. Качество хорошее, стали как влитые, работают отлично. Очень прочные, не деформируются. А самое главное — придают уверенности. Точно знаешь, что никакая камера тебя не засечет. Друг себе такие же заказал, тоже остался доволен.
        </div>
        <div class="section-comment_list-item">
          <div class="image"><img src="images/comm4.jpg" alt=""></div>
          <div class="name">
            НИКОЛАЙ, <span class="town">г. Тула</span>
          </div>
          <div class="age">
            Водительский стаж 19 лет
          </div>
          Уже несколько месяцев езжу с перевертышами на переднем и заднем номерах. Все работает, проблем нет, штрафов не было. И качество хорошее: каркас прочный и покрытие плотное, не стирается. В общем, доволен. Собираюсь еще одну пару рамок купить для сына, а заодно и пульт управления.
        </div>
      </div>

    </div>
  </div>
</section>