.section-about{
  padding: 60px 0;
  &-content{
    width: 50%;
    margin-top: 20px;
  }
  &-video{
    width: 45%;
    margin-top: 20px;
    .video+.video{
      margin-top: 20px;
    }
    .box-picture{
      @include block_flex;
      @include flex_justify_between;
      margin-top: 20px;
    }
  }
  &-plus{
    padding: 60px 0;
    background: $bg-section;
    text-align: center;
    &_list{
      @include block_flex;
      @include flex_justify_between;
      text-align: center;
      &-item{
        width: 25%;
        padding:0 12px;
        .image{
          border: 3px solid $color_green_1;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          overflow: hidden;
          margin:30px auto;
          img{
            margin: -5px -5px 0;
            width: 105px;
            max-width: none;
          }
        }
      }
    }
  }
}
@media(max-width: 980px){
  .section-about{
    padding: 40px 0;
    .flexible{
      @include flex_wrap;
    }
    &-plus{
      &_list{
        @include flex_wrap;
        &-item{
          width: 50%;
        }
      }
    }

  }
}
@media(max-width: 767px){
  .section-about{
    padding: 40px 0;
    &-content{
      width: 100%;
      margin-top: 0;
    }
    &-video{
      width: 100%;
    }

  }
}
@media(max-width: 580px){
  .section-about-plus_list-item{
    width: 100%;
    text-align: left;
    @include block_flex;
    @include flex_align_item_center;
    padding: 0;
    &+&{
      margin-top: 20px;
    }
    .image{
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      max-width: 100px;
      margin: 0;
      margin-right: 20px;
    }
  }
}