<section class="section-about" id="about">
    <div class="container">
        <h2>О нас</h2>
        <h3>Зачем платить посредникам? Покупайте дешевле напрямую у производителя!</h3>
        <div class="flexible">
            <div class="section-about-content">
                <div class="text">
                    <b>А производитель – это мы.</b> Причем, мы не собираем рамки из готовых деталей, нет – мы производим их от начала и до конца! Для вас же это выгодно по 2 причинам: первая — рамки собственного производства однозначно <b>выигрывают по качеству</b> у недорогих китайских сборок, а вторая — это <b>цена</b>! Здесь все просто: покупая рамки против камер напрямую у нас, вы платите минимально возможную цену.
                    <br><br>
                    Вы, конечно, можете заказать защиту номера от камер и у другого продавца - и заплатите больше только потому, что этот кто-то сам покупает эти рамки и просто перепродает вам. Причем возможно, что покупает у нас же. А если не у нас, то в Китае. А если вам говорят, что это собственное производство, знайте: такое «производство» – это сборка отвёрткой из покупных деталей. Ведь в России есть <b>один-единственный производитель</b> подобных рамок – <b>ЭТО МЫ</b>.
                    <br><br>
                    Следует отметить, что мы постоянно совершенствуем качество выпускаемых рамок для номера. Так, вышла уже 3 версия переворачивающихся рамок! Ряд важнейших конструктивных изменений позволили добиться ещё большей долговечности и износостойкости, полностью исключить перекосы и клин механизма от грязи, уменьшить трение и упростить процесс монтажа рамки.
                    <br><br>
                    <b>Итого:</b> Цены у нас ниже, чем у любого посредника. А качество намного выше, чем у импортных (китайских) моделей. При этом рамки под номер всегда есть в наличии и в любом количестве. Мы можем производить до <b>3.000 рамок</b>, так что вы легко можете купить их <b>не только поштучно, но и оптом</b>! И доставку мы вам организуем, куда пожелаете: и по всей России, и в Беларусь. А вскорости планируем и до Европы добраться!
                </div>
            </div>
            <div class="section-about-video">
                <div class="video"><iframe width="100%" height="320" src="//www.youtube.com/embed/2JdlIZv8d1A" frameborder="0" allowfullscreen=""></iframe></div>
                <div class="video"><iframe width="100%" height="320" src="//www.youtube.com/embed/oW2KRzSFxOM" frameborder="0" allowfullscreen=""></iframe></div>

                <div class="box-picture">
                    <a href="img/zoom/1b.jpg" title=""><img src="images/1.jpg" alt="" class="item-picture"></a>
                    <a href="img/zoom/2b.jpg" title=""><img src="images/2.jpg" alt="" class="item-picture"></a>
                </div>
                <div class="box-picture">
                    <a href="img/zoom/3b.jpg" title=""><img src="images/3.jpg" alt="" class="item-picture"></a>
                    <a href="img/zoom/4b.jpg" title=""><img src="images/4.jpg" alt="" class="item-picture"></a>
                </div>
            </div>
        </div>
    </div>
</section>