<section class="section-about-plus">
    <div class="container">
        <h2>Мы даем вам то, чего не даст больше никто! </h2>
        <h3>Основные преимущества рамок против камер собственного производства:</h3>
        <div class="section-about-plus_list">
            <div class="section-about-plus_list-item">
                <div class="image"><img src="images/plus1.png" alt=""></div>
                Лучшие материалы + отлаженный механизм = чёткая работа рамок без сбоев и доооооолгий срок службы.
            </div>
            <div class="section-about-plus_list-item">
                <div class="image"><img src="images/plus2.png" alt=""></div>
                Настолько продуманная конструкция и схема работы, каких нет ни у одного аналога!
            </div>
            <div class="section-about-plus_list-item">
                <div class="image"><img src="images/plus3.png" alt=""></div>
                Максимально легкая установка абсолютно на любой автомобиль, даже с округлым бампером.
            </div>
            <div class="section-about-plus_list-item">
                <div class="image"><img src="images/plus4.png" alt=""></div>
                Цен ниже не бывает! Остерегайтесь некачественных подделок – они, конечно, дешевые, зато практически одноразовые!
            </div>
        </div>
    </div>
</section>