@mixin border_radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin web_transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin web_transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin block_flex(){
  display: -webkit-flex;
  display: flex;
}
@mixin flex_wrap(){
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex_justify_around(){
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
@mixin flex_justify_between(){
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
@mixin flex_justify_flex-start(){
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
@mixin flex_direction_row(){
  -webkit-flex-direction: row;
  flex-direction: row;
}
@mixin flex_direction_column(){
  flex-direction: column;
  -webkit-flex-direction: column;
}
@mixin justify_content_flex_start(){
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@mixin flex_align_self_start(){
  -webkit-flex-item-align: start!important;
  align-self: flex-start!important;
}
@mixin flex_align_self_end(){
  -webkit-flex-item-align: end!important;
  align-self: flex-end!important;
}
@mixin flex_align_self_center(){
  -webkit-flex-item-align: center!important;
  align-self: center!important;
}
@mixin flex_align_item_center(){
  -ms-flex-align: center!important;
  align-items:center;
}
@mixin flex_col_full(){
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@mixin  block-flex-center() {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
@mixin  block-flex-top() {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
@mixin  block-flex-bottom() {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}