<section class="section-services" id="opt">
  <div class="container">
    <div class="section-services_content">
      <h2>Оптовые продажи</h2>
      <h3>напрямую от производителя!</h3>
      <div class="flexible">
        <div class="text">
          Вы только представьте, сколько в стране автомобилистов, затем - сколько из них хотели бы спрятать свои номера от камер ГИБДД и избежать штрафов. Так вот, эти люди станут вашими клиентами, только предложите им действенный и доступный способ защиты номера от камер – а именно, перевертыши и откидные рамки!
  
          Мы предлагаем вам номерные рамки против камер собственного производства - надёжные, долговечные и с гарантией качества. Конечно, такая продукция превзойдет по спросу китайские недолговечные модели. Так что, какой бы объём вы ни закупили – поверьте – разберут все до одной! При этом мы производим столько рамок, что сможем гарантировать вам постоянное наличие товара. Ну и как производитель, мы предлагаем самые выгодные цены.
          <br>
          СДЕЛАЙТЕ ЗАКАЗ НА ПАРТИЮ ТОВАРА СЕГОДНЯ –
          И ПОЧУВСТВУЙТЕ ВЫГОДУ УЖЕ ЗАВТРА!
        </div>
        <div class="image"><img src="images/dost.png" alt=""></div>
      </div>
    </div>
  </div>
</section>