.section-services{
  padding: 60px 0;
  background: $color_white;
  &_content{
    .text{
      max-width: 800px;
    }
  }
  &-good{
    .img{
      border: 3px solid $color_green_1;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin:30px 0;
      text-align: center;
      color: #5f5f5f;
      font-size: 80px;
      line-height: 94px;
      img{
        margin: -7px -7px 0;
        width: 108px;
        max-width: none;
      }
    }
  }
}

@media(max-width: 980px){
  .section-services{
    padding:40px 0;
    &_content{

    }
  }
}
@media(max-width: 860px){
  .section-services-good{
    .dop-info{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_between;
    }
    h3{
      @include flex_col_full;
    }
    .item{
      @include block_flex;
      margin-top: 10px;
      .img{
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        max-width: 100px;
        margin: 15px 20px 0 0;
      }
    }

  }
}
@media(max-width: 767px) {
  .section-services{
    padding:40px 0;
    &_content{
      .flexible{
        @include flex_wrap;
      }
      .text{
        max-width: 100%;
        width: 100%;
      }
      .image{
        text-align: center;
        width: 100%;
      }
    }
  }
}