<div class="modal fade" tabindex="-1" role="dialog" id="form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close"></i></button>
            <div class="modal-body">
                <div class="text-center">
                    <form id="vopros">
                        <div id="message2"></div>
                        <input type="text" name="name" placeholder="Имя" class="form-control">
                        <input type="text" name="email" placeholder="E-mail" class="form-control">
                        <textarea name="vopros" class="q-text form-control" placeholder="Вопрос"></textarea>
                        <input type="hidden" name="name_page" value="Нанономер">
                        <div class="control-numbers">
                            <div class="flexible">
                                <div class="value-numbers" id="kaptcha2"><img id="kapt" src="http://autopomoika.ru/kaptha.php"></div>
                                <div><input type="text" name="captcha" class="numbers form-control" placeholder="Введите число"></div>
                            </div>
                        </div>
                        <div class="form-btn">
                            <a href="http://autopomoika.ru/good1.html#" onclick="add_vopros(); return false;" class="send-questions  btn btn-white">Отправить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->