<div class="modal fade" tabindex="-1" role="dialog" id="thanks">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close"></i></button>
            <div class="modal-body">
                <div class="text-center">
                    <div class="title">Спасибо за ваш заказ!</div>
                    <div class="text">Наши менеджеры сами свяжутся с вами</div>
                    <div class="modal-btn">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->