<div class="page-good-question" id="question">
    <div class="container">
        <h2>Часто задаваемые вопросы</h2>
        <div class="page-good-question_list">
            <div class="page-good-question_list-item">
                <div class="question">
                    Что входит в 1 комплект пленки инвисиблер для номера?
                </div>
                <div class="answer">
                    1 буква или 1 цифра, в зависимости от того, что вы выберите. Таким образом, покупая 1 комплект пленки на номера против камер, вы прячете 1 знак на вашем переднем номере или 1 знак на заднем номере.
                </div>
            </div>


            <div class="page-good-question_list-item">
                <div class="question">
                    Могу ли я отдать автомобиль в мойку? Не испортится ли пленка, скрывающая номер?
                </div>
                <div class="answer">
                    Не волнуйтесь! Защитной пленке на гос.номер абсолютно не страшна даже контактная и бесконтактная мойка!
                </div>
            </div>
            <div class="page-good-question_list-item">
                <div class="question">
                    Защищает ли нанономер от трехногих камер и радаров ГИБДД?
                </div>
                <div class="answer">
                    Нет. Невидимые номера пленка делает только при инфракрасной съемке. Т.е. заклеенные цифры не будут видны на тех фото, которые делают ИК-камеры. Если же камера снимает видео, то ваши номера будут отчетливо видны.
                </div>
            </div>
            <div class="page-good-question_list-item">
                <div class="question">
                    Как я могу купить нанономера?
                </div>
                <div class="answer">
                    Чтобы заказать пленку на номера, нажмите кнопку «заказать» и заполните форму. Купить пленку на номера автомобиля можно также, позвонив по телефону: +7 (495) 646-81-59
                </div>
            </div>
            <div class="page-good-question_list-item">
                <div class="question">
                    Могут ли оштрафовать за использование защитной пленки на номер авто?
                </div>
                <div class="answer">
                    Маловероятно. Ведь сотрудники ГИБДД даже не узнают, что у вас что-то есть на номерах. Инвизиблер пленка абсолютно не видна глазом, ваш номер не видят только ИК-камеры. Вас просто не за что будет штрафовать, ведь когда смотришь на табличку с гос.знаками – все на месте, ничего не спрятано!
                </div>
            </div>
            <div class="page-good-question_list-item">
                <div class="question">
                    У вас появился вопрос?
                </div>
                <div class="answer">
                    Задайте его, заполнив форму ниже. Мы пришлем вам ответ в кратчайшие сроки по указанному вами электронному адресу
                </div>
                <div class="box-btn">
                    <a data-toggle="modal" data-target="#form" class="btn btn-white">Задать вопрос</a>
                </div>
            </div>
        </div>
    </div>
</div>