<div class="text">
    <h2>Нанономер - защитная плёнка на номера, которая прячет их от камер</h2>
    <div class="about-good">
        Хватит платить штрафы! Сейчас куда ни глянь – везде стоят полицейские радары, которые так и норовят запечатлеть ваш автомобиль на камеру. А вы спрячьте от них свои номера! НаноНомер избавит вас от «писем счастья» и защитит кошелек от неприятных растрат!
        <div class="title">Что такое НаноНомера на авто</div>
        Это светоотражающая пленка на номера, которая клеится на цифры и/или буквы вашего автомобиля. Инфракрасная пленка на номера благодаря светоотражающему материалу создает на снимках ИК камер блики.
        <div class="title">Что дает Нано плёнка на номера</div>
        <div class="row-fluid">
            <div class="span9">
                Знаки номера, которые вы заклеите пленкой invisible, не смогут «прочесть» никакие инфракрасные камеры. Т.е. на снимке с ИК камеры сотрудники ГИБДД увидят лишь блики и вспышки в тех местах, где наклеена пленка на гос. номер. А не видя номер целиком, разве смогут они «пробить вас по базе»? Да никогда!
            </div>
            <div class="span3"><img src="images/img1.jpg"></div>
        </div>
        <div class="video">
            <iframe width="100%" height="375" src="//www.youtube.com/embed/u1RcEFgYI7s" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="375" src="//www.youtube.com/embed/6vS-Er53nEc" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="title">Могут ли быть проблемы из-за ИК пленки на номер с сотрудником ГИБДД?</div>
        <div class="row-fluid">
            <div class="span3"><img src="images/img2.jpg"></div>
            <div class="span9">
                Никаких! Пленка на номер прячет его только от камер. Человек же вашу отражающую пленку даже не заметит. Т.е. смотришь «невооруженным глазом»: номера как номера, все буквы и цифры на месте.
                <br><br>Чтобы было ещё понятнее, представьте: стоит полицейская ИК камера, а метров через 300 сидит в кустах ГИБДД-шник. Камера фотографирует ваш номер, но на снимке не видно знаков, только блики. При этом сотрудник ДПС хорошо видит ваш номер: он не замазан, не спрятан, он отлично читается. <b>Так что предъявить вам абсолютно нечего!</b>

            </div>
        </div>
        <div class="title">Уход за нано пленкой на гос. номера</div>
        А ухода или специального обращения никакого и не требуется! Пленка на номера invisible очень долговечна. Главное, не срывайте ее, а то назад уже не приклеите. При этом вы можете спокойно отправлять свое авто на ручную или бесконтактную мойку. Пленке на номер от камер не страшна эта мойка: все наклейки останутся целыми и невредимыми.
        <div class="title">Любопытный факт</div>
        <div class="row-fluid">
            <div class="span9">
                В Японии, где и была придумана технология антирадарной пленки на номера, такие наклейки уже запретили к продаже и использованию. Почему? Потому что они ощутимо «ударили» по госбюджету, ведь некому стало платить штрафы! Так что нано плёнка на номера авто действительно работает – проверено целой страной!
            </div>
            <div class="span3"><img src="images/img3.jpg"></div>
        </div>
        <div class="title">Состав комплекта пленки для скрытия номера</div>
        Цена invisible пленки на номера включает 1 букву или цифру (на ваш выбор). Хотите спрятать побольше знаков, чтобы было наверняка? Тогда советуем купить пленку invisible для номеров в количестве 6 штук.
        <div class="video">
            <iframe width="100%" height="375" src="//www.youtube.com/embed/pd29BYB_RO4" frameborder="0" allowfullscreen=""></iframe>
        </div>
        При оформлении заказа укажите, какие нано буквы или нано цифры на номер вам необходимы:
        <div class="center">
            <img src="images/img4.jpg">

            <a href="#ordernums" role="button" data-toggle="modal" class="buyS"><div class="red-btn"></div></a>
        </div>
    </div>
</div>