.section-goods{
  padding-top: 60px;
  padding-bottom: 60px;
  background: $bg_section;
  &-list{
    position: relative;
    margin-top: 60px;
    &_item{
      background: $color_white;
      font-size: 13px;
      position: relative;
      color: $color_black;
      max-width: 740px;
      margin: 0 auto;
      &+&{
        margin-top: 30px;
      }
      .text{
        font-size: inherit;
      }
      .label{
        height: 18px;
      }
      .more{
        margin-top: 2em;
      }
      &_content{
        box-shadow: 0 0 19px 0 rgba(72, 173, 51, 0.25);
        background: $color_white;
        position: relative;
        @include block_flex;
        height: 100%;
        z-index: 2;
        padding: 25px;
      }
      &_text{
        width: 50%;
        padding-right: 15px;
      }
      &_price{
        width: 50%;
      }
      h4{
        margin-bottom: 5px;
      }
      .price-box{
        @include block_flex;
        @include flex_justify_between;
        margin-top: 10px;
        padding-top: 10px;
        border-top:1px solid $border_color_1;
        font-weight: 500;
        .price{
          color: $color_green_1;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
.page-good{
  &-intro{
    background: $bg_section;
    padding: 60px 0;
    &_image{
      width: 40%;
    }
    &_content{
      width: 50%;
    }
    .flexible{
      @include flex_align_item_center;
    }
    .price{
      font-size: 40px;
      font-weight: bold;
      color: $color_green_1;
      margin-top: 15px;
    }
    .box-btn{
      margin-top: 30px;
      .btn{
        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }
  }
  &-content{
    padding: 60px 0;
    .text{
      font-size: 16px;
    }
    .video{
      margin: 20px 0;
    }
    &_text{
      width: 100%;
    }
    &_info{
      -ms-flex: 0 0 380px;
      flex: 0 0 380px;
      max-width: 380px;
      padding-left: 60px;
      font-size: 12px;
      h2{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      .dop-info{
        margin-top: 20px;
      }
      .item{
        margin-top: 20px;
        h2{
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
  }
  &-question{
    padding: 60px 0;
    background: $bg_section;
    text-align: center;
    &_list{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_between;
      &-item{
        margin-top: 30px;
        text-align: left;
        width: 47%;
        .question{
          color: $color_black;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .box-btn{
          margin-top: 20px;
        }
      }
    }
  }
}
@media(max-width: 980px){
  .section-goods{
    padding: 40px 0;
    &-list{
      margin-top: 40px;
    }
  }
  .page-good{
    &-intro{
      padding: 40px 0;
    }
    &-content{
      padding: 40px 0;
      &_info{
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
        max-width: 320px;
        padding-left: 40px;
      }
    }
  }
}
@media(max-width: 860px){
  .page-good{
    &-content{
      .flexible{
        @include flex_wrap;
      }
      &_info{
        @include flex_col_full;
        padding-left: 0;
      }
    }
  }
}
@media(max-width: 767px){
  .page-good-question_list-item{
    width: 100%;
  }
}
@media(max-width: 580px){
  .section-goods-list{
    margin-top: 25px;
  }
  .section-goods-list_item{
    margin: 0 -10px;
    &_content{
      padding: 20px 20px 80px;
      display: block;
      position: relative;
    }
    &_text{
      width: 100%;
    }
    &_price{
      width: 100%;
    }
    .image{
      margin-bottom: 10px;
    }
    .more{
      position: absolute;
      left:0;
      bottom:17px;
      z-index: 1;
      padding: 0 20px;
      text-align: center;
      width: 100%;
    }
  }
  .page-good{
    &-intro{
      padding: 25px 0;
      .flexible{
        -webkit-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
      }
      &_content{
        width: 100%;
        margin-top: 25px;
      }
      &_image{
        width: 100%;
      }
    }
    &-content{
      padding: 25px 0;
      .text{
        font-size: 14px;
      }
    }
  }
}