<div class="section-delivery-good">
    <div id="oplata" class="dop-info small">
    <h3 class="small">Доставка и оплата</h3>
    <div class="item row-fluid">
        <div class="img span3"><img src="images/dost1.png"></div>
        <div class="about span9">
            <h2 class="black small">Доставка курьером</h2>
            <div class="info">
                Купите у нас любую защиту авто номера, и мы доставим Вам ее прямо домой! Курьер привезет Вашу покупку в удобное для Вас время по указанному Вами адресу. Наш менеджер свяжется с Вами для уточнения удобного времени доставки.
            </div>
        </div>
    </div>
    <div class="item row-fluid">
        <div class="img span3"><img src="images/dost2.png"></div>
        <div class="about span9">
            <h2 class="black small">ДОСТАВКА ПОЧТОЙ РОССИИ</h2>
            <div class="info">
                Стоимость доставки почтой России в любой регион составляет 300 рублей. В эту стоимость входят услуги курьера (доставка до Московского отделения Почты России), отправление посылки и ее доставка до ближайшего почтового отделения Вашего региона. Статус заказа Вы можете проверять с помощью трекера или же посредством бесплатных SMS-сообщений.
            </div>
        </div>
    </div>
    <div class="item row-fluid">
        <div class="img span3"><img src="images/dost3.png"></div>
        <div class="about span9">
            <h2 class="black small">ДОСТАВКА ПОЧТОЙ EMS</h2>
            <div class="info">
                Доставка почтой EMS происходит быстрее, чем Почтой России, а посылку Вам доставляют не до почтового отделения, а прямо по указанному Вами адресу. Стоимость доставки рассчитывается в зависимости от веса посылки и дальности следования. Доставка почтой EMS производится только по 100 % предоплате заказа. Сроки доставки зависят от Вашего местоположения.
            </div>
        </div>
    </div>
    <div class="item row-fluid">
        <div class="img span3"><img src="images/dost4.png"></div>
        <div class="about span9">
            <h2 class="black small">БОЛЕЕ 30 СПОСОБОВ ОПЛАТЫ</h2>
            <div class="info">
                Вы можете выбрать любой удобный для себя способ оплаты: через банк, с помощью терминала, онлайн, с помощью мобильного телефона и др.
            </div>
            <div class="value"><img src="img/value.jpg" alt="способы оплаты"></div>
            <div class="info">
                По вопросам доставки и оплаты обращайтесь по телефону <b>+7 (495) 646-81-59</b>
            </div>
        </div>
    </div>
</div>
</div>