<div class="section-services-good">
    <div id="garantya" class="dop-info small">
        <h3 class="small">Гарантия на доставку</h3>
        <div class="item row-fluid">
            <div class="img span3"><img src="images/garant.png" alt="car"></div>
            <div class="about span9">
                <div class="info">
                    <b>Мы даем 100%-ю гарантию, что Вы получите свою покупку в целости и сохранности!</b>
                    <br><br>Практика показывает, что повреждение или утрата посылок происходит крайне редко (менее 0,1% от общего числа отправлений). Тем не менее, если это произойдет, мы отправим Вам заказ повторно либо вернем деньги, если вы того пожелаете. При этом за повторную отправку Вам платить не надо! Таким образом, Вы можете быть уверены: Вы гарантированно получите свой заказ!
                    <br><br>Со своей стороны мы делаем все, чтобы Вы получили покупку в целости и сохранности. Тем не менее, чтобы избежать любых недоразумений, обязательно проверяйте посылку при ее получении. <b>Обращаем особое Ваше внимание!</b> Гарантия на доставку действует, только если Вы обнаружили порчу сразу при получении заказа
                </div>

            </div>
        </div>
        <div class="item row-fluid">
            <div class="img span3">!</div>
            <div class="about span9">
                <div class="info">
                    В последнее время участились случаи подделки нанопленки. Приобрести настоящие НаноНомера и Рамки номерного знака проверенного качества можно на нашем сайте <b>007nomer.ru</b>. Остерегайтесь подделок!
                </div>

            </div>
        </div>
    </div>
</div>