<div class="page-good">
    <div class="page-good-intro">
        <div class="container">
            <div class="flexible">
                <div class="page-good-intro_content">
                    <h1>Нанономер</h1>
                    <div class="text">
                        Специальная пленка, которая делает номера невидимыми для инфракрасных камер. Смотришь «невооруженным глазом» – номер как номер. А вот камеры «видят» лишь блики и вспышки там, где наклеена защита гос. номера от камер.
                    </div>
                    <div class="price">1900 р.</div>
                    <div class="box-btn">
                        <a href="#comment" class="btn btn-white scroll-page">Отзывы</a>
                        <a href="#question" class="btn btn-white scroll-page">Вопросы</a>
                    </div>
                </div>
                <div class="page-good-intro_image">
                    <img src="images/good3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="page-good-content">
      <div class="container">
          <div class="flexible">
              <div class="page-good-content_text">
                {% include "blocks/goods/_good-text.html" %}
              </div>
              <div class="page-good-content_info">

                  {% include "blocks/goods/_good-delivery.html" %}

                  {% include "blocks/goods/_good-security.html" %}
              </div>
          </div>
      </div>
    </div>
    {% include "blocks/goods/_good-question.html" %}

</div>