<section class="section-goods" id="goods">
    <div class="container">
        <div class="text-center">
            <h2>Все средства защиты номера от камер</h2>
        </div>
        <div class="section-goods-list">
            <div class="section-goods-list_item">
                <div class="section-goods-list_item_content">
                    <div class="section-goods-list_item_text">
                        <div class="image"><img src="images/good3.png" alt=""></div>
                        <div class="more"><a href="good.html" class="btn btn-white">Узнать больше</a></div>
                    </div>
                    <div class="section-goods-list_item_price">
                        <div class="title"><h3>Рамка-перевертыш</h3></div>
                        <div class="text">
                            Поменяйте свой номер за пару секунд, причем в любой момент, когда захотите, и даже не выходя из автомобиля! Едите с одним номером, нажали кнопку — и через пару секунд у вашего авто уже совсем другие номера! Перевертыш — супер защита номера от видеофиксации и супер защита автомобильных номеров от кражи!
                        </div>
                        <div class="price-box">
                            <div class="item-price">
                                <div class="label">Черная</div>
                                <div class="price">5000 <span class="rub">р.</span></div>
                            </div>
                            <div class="item-price">
                                <div class="label">Хромированная</div>
                                <div class="price">8000 <span class="rub">р.</span></div>
                            </div>
                            <div class="item-price">
                                <div class="label">Пульт ДУ</div>
                                <div class="price">2700 <span class="rub">р.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-goods-list_item">
                <div class="section-goods-list_item_content">
                    <div class="section-goods-list_item_text">
                        <div class="image"><img src="images/good3-1.png" alt=""></div>
                        <div class="more"><a href="good.html" class="btn btn-white">Узнать больше</a></div>
                    </div>
                    <div class="section-goods-list_item_price">

                        <div class="title"><h3>Пульт ду</h3></div>
                        <div class="text">
                            С пультом дистанционного управления для рамки-перевертыша менять номер стало еще быстрее и удобнее! Теперь не обязательно тянуться к кнопке в салоне — кнопка уже будет у вас в руках!
                        </div>
                        <div class="price-box">
                            <div class="item-price">
                                <div class="label"></div>
                                <div class="price">2700 <span class="rub">р.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-goods-list_item">
                <div class="section-goods-list_item_content">
                    <div class="section-goods-list_item_text">

                        <div class="image"><img src="images/good4.png" alt=""></div>
                        <div class="more"><a href="good.html" class="btn btn-white">Узнать больше</a></div>
                    </div>
                    <div class="section-goods-list_item_price">
                        <div class="title"><h3>Накладка на номер - паркномер</h3></div>
                        <div class="text">
                            Паркномер дает 100% защиту от штрафов за парковку. Вам больше не придется разорятся на штрафы за парковку и платить только за то что вы, к примеру, забежали на 5 минут в банк.
                        </div>
                        <div class="price-box">
                            <div class="item-price">
                                <div class="label"></div>
                                <div class="price">800 <span class="rub">р.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-goods-list_item">
                <div class="section-goods-list_item_content">
                    <div class="section-goods-list_item_text">

                        <div class="image"><img src="images/good2.png" alt=""></div>
                        <div class="more"><a href="good.html" class="btn btn-white">Узнать больше</a></div>
                    </div>
                    <div class="section-goods-list_item_price">
                        <div class="title"><h3>Откидная рамка</h3></div>
                        <div class="text">
                            Нажимаете на кнопку при подъезде к камере, рамка откидывается на 90 градусов — и вы безнаказанно проезжаете мимо. Ведь в таком положении номера заснять его просто невозможно!
                            <div class="price-box">
                            <div class="item-price">
                                <div class="label">Металлическая</div>
                                <div class="price">5990 <span class="rub">р.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>