<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"> <img src="images/logo.png" alt="logo"></a>
            <div class="header-nav" id="navbar">
                <ul class="nav">
                    <li><a class="link link-phone" href="tel:+7 (495) 646-81-59">+7 (495) 646-81-59</a></li>
                    <li><a class="link scroll-page" href="#about">О нас</a></li>
                    <li><a class="link scroll-page" href="#opt">Купить оптом</a></li>
                    <li><a class="link scroll-page" href="#dost">Доставка и оплата</a></li>
                    <li><a class="link scroll-page" href="#goods">Рамки</a></li>
                    <li><a class="link scroll-page" href="#install">Установка</a></li>
                    <li><a class="btn btn-white scroll-page" href="#contact">Заказать</a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>