header{
  text-align: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 50px;
  z-index: 10;
  padding: 10px 0;
  background: $color-white;
  border-bottom: 1px solid $border_color_1;
  &~.main{
    padding-top: 70px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    color: $color_title;
    font-weight: bold;
    text-align: left;
    width: 124px;
    img{
      vertical-align: middle;
      max-height: 54px;
    }
  }
  &-nav{
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;
      position: relative;
      font-weight: bold;
      font-size: 14px;
      &:last-child{
        margin-right: 0;
      }
      a{
        position: relative;
        color: $color_title;
      }
      .link{
        &-phone{
          color: $color_green_1;
        }
        &:hover{
          opacity: 0.3;
        }
      }
      &.active{
        a{
          opacity: 0.3;
        }
        &:after{
          position: absolute;
          bottom:0;
          left:50%;
          width: 46px;
          margin-left: -23px;
          height: 2px;
          background: $color_title;
          content: '';
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
    }
  }
}
@media(max-width: 1140px) {
  .header{
    &-nav{
      li{
        margin: 0 10px;
        font-size: 12px;
      }
    }
  }
}
@media(min-width: 941px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 940px) {
  .header{
    padding: 10px 0;
    line-height: 36px;
    &-logo{
      z-index: 11;
      img{
        max-height: 35px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
        font-size: 16px;
        &:after{
          display: none;
        }
        .btn{
          margin-top: 20px;
        }
        a{
          border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
    &~.main{
      padding-top: 58px;
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }
}