.section-intro{
  padding-top: 40px;
  padding-bottom: 40px;
  background: $bg_section;
  &_text{
    padding-top: 50px;
    width: 45%;
    .title{
      margin-bottom: 60px;
    }
    .box-btn{
      margin-top: 75px;
      .btn{
        margin-bottom: 15px;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
  &_goods{
    width: 50%;
    position: relative;
    min-width: 534px;
    &_item{
      background: $color_white;
      font-size: 13px;
      position: relative;
      color: $color_black;
      &+&{
        margin-top: 30px;
      }
      .text{
        font-size: inherit;
      }
      .date{
        color: $color_gray_1;
        margin-top: 1em;
      }
      .more{
        margin-top: 2em;
      }
      &_content{
        box-shadow: 0 0 19px 0 rgba(72, 173, 51, 0.25);
        background: $color_white;
        position: relative;
        @include block_flex;
        height: 100%;
        z-index: 2;
        padding: 25px;
      }
      .image{
        img{
          height: 88px;
        }
      }
      &_text{
        width: 50%;
        padding-right: 15px;
      }
      &_price{
        width: 50%;
        .text{
          min-height: 154px;
        }
      }
      h4{
        margin-bottom: 5px;
      }
      .price-box{
        @include block_flex;
        @include flex_justify_between;
        margin-top: 10px;
        padding-top: 10px;
        border-top:1px solid $border_color_1;
        font-weight: 500;
        .price{
          color: $color_green_1;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .box-btn{
      font-size: 13px;
      text-align: right;
      margin-top: 1.5em;
    }
  }
}

@media(max-width: 980px){
  .section-intro{
    padding: 40px 0;
    .flexible{
      display: block;
    }
    &_text{
      padding-top: 0;
      padding-bottom: 40px;
      width: 100%;
      .title{
        margin-bottom: 0;
      }
      .box-btn{
        margin-top: 15px;
      }
    }
    &_goods{
      width: 100%;
    }
  }
}
@media(max-width: 767px){
  .section-intro{
    &_text{
      padding-bottom: 20px;
    }
  }
}
@media(max-width: 580px){
  .section-intro_goods{
    min-width: 200px;
    &_item{
      margin: 0 -10px;
      &_content{
        padding: 20px;
        display: block;
        position: relative;
      }
      &_price,
      &_text{
        width: 100%;
      }
      &_price{
        .text{
          min-height: 30px;
          margin-bottom: 30px;
        }
      }
      .image{
        margin: 10px 0;
      }
      .more{
        position: absolute;
        bottom:85px;
        z-index: 1;
        left:0;
        width: 100%;
        padding: 0 20px;
      }
    }
  }
}