<section class="section-intro">
    <div class="container">
        <div class="flexible">
            <div class="section-intro_text">
                <div class="title">
                    <h1>Живи без штрафов</h1>
                    <h2>Гоняй без последствий</h2>
                </div>
                <div class="text">
                    Камеры на обочинах, камеры на столбах, камеры, рыскающие вдоль парковок – сплошные камеры вокруг и все охотятся за вашим номером, чтобы наградить вас штрафом! А вы оставьте все камеры «с носом» - спрячьте свои гос.знаки!
                </div>
                <div class="box-btn">
                    <a href="#about" class="btn btn-white scroll-page">О нас</a>
                    <a href="#goods" class="btn btn-white scroll-page">Рамки</a>
                </div>
            </div>
            <div class="section-intro_goods">
                <div class="section-intro_goods_item">
                    <div class="section-intro_goods_item_content">
                        <div class="section-intro_goods_item_text">
                            <div class="title"><h4>СПОСОБ № 1</h4></div>
                            <div class="sub-title"><h5>жить без штрафов: Рамка–перевертыш v3.0</h5></div>
                            <div class="image">
                                <img src="images/good1.png" alt="">
                            </div>

                            <div class="more"><a href="#" class="link link-more">Подробнее о рамках-перевертышах</a></div>
                        </div>
                        <div class="section-intro_goods_item_price">
                            <div class="text">
                                Нажатие 1 кнопки за пару секунд переворачивает рамку на 180 градусов, скрывая ваши номера. Действует против всех видов камер. Прячет номер так, что его не видно ни под каким углом. Удобнее всего управлять рамкой с помощью специального пульта ДУ.
                            </div>
                            <div class="price-box">
                                <div class="item-price">
                                    Черная
                                    <div class="price">5000 <span class="rub">р.</span></div>
                                </div>
                                <div class="item-price">
                                    Хромированная
                                    <div class="price">8000 <span class="rub">р.</span></div>
                                </div>
                                <div class="item-price">
                                    Пульт ДУ
                                    <div class="price">2700 <span class="rub">р.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-intro_goods_item">
                    <div class="section-intro_goods_item_content">
                        <div class="section-intro_goods_item_text">
                            <div class="title"><h4>СПОСОБ № 2</h4></div>
                            <div class="sub-title"><h5>«гонять» без последствий: Откидная рамка</h5></div>
                            <div class="image">
                                <img src="images/good2.png" alt="">
                            </div>

                            <div class="more"><a href="#" class="link link-more">Подробнее об откидных рамках</a></div>
                        </div>
                        <div class="section-intro_goods_item_price">
                            <div class="text">
                                Нажимаете на кнопку при подъезде к камере, рамка откидывается на 90 градусов — и вы безнаказанно проезжаете мимо. Ведь в таком положении номера заснять его просто невозможно!
                            </div>
                            <div class="price-box">
                                <div class="item-price">
                                    Металлическая
                                    <div class="price">5990 <span class="rub">р.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>