.section-install{
  padding: 60px 0;
  &_content{
    &-text{
      width: 50%;
      margin-top: 20px;
    }
    &-video{
      width: 45%;
      margin-top: 20px;
      .video+.video{
        margin-top: 20px;
      }
    }
    table{
      width: 100%;
      margin-top:15px;
      th{
        background: rgba($border_color_1,0.5);
        color: $color_black;
        &:last-child{
          white-space:nowrap;
        }
      }
      th,td{
        padding: 7px;
        border: 1px solid $border_color_1;
      }
    }
  }
}
@media(max-width: 980px){
  .section-install{
    padding: 40px 0;
  }
}
@media(max-width: 767px){
  .section-install{
    &_content{
      .flexible{
        @include flex_wrap;
      }
      &-text{
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
      }
      &-video{
        width: 100%;
      }
    }
  }
}
@media(max-width: 580px){
  .section-install_content table th:last-child {
    white-space: normal;
  }
}