<section class="section-install" id="install">
  <div class="container">
    <div class="section-install_content">
      <h2>Установка</h2>
      <h3>рамок перевертышей, откидышей и другого оборудования</h3>
      <div class="flexible">
        <div class="section-install_content-text">
          <div class="text">
            <b>Установка оборудования у нас - это надежно, доступно и с гарантией!</b>
            <br/>
            Установка производится в специализированном центре по адресу г. Москва, ул. Рабочая 84 стр. 1 Почему мы рекомендуем обращаться только к специалистам? Во-первых установка рамки перевертыша - это работа не только механика, но и электрика, а значит необходима специализированная подготовка. Во-вторых — это <b>цена</b>! Стоимость установки рамки перевертыша (1 шт.) от 5000 рублей!
            <br>
          </div>
          <div class="text">
            Рамка перевертыш на госномера – это не что иное, как переворачивающаяся рамка на пульте дистанционного управления. Если у Вас есть 2 номера – обычный и именной, Вам больше не придется менять их с помощью отвертки. Нажатие одной кнопки – и вуаля! Одни номера сменили другие.<br>
            В нашем сервисном центре установку рамок перевертышей мы производим уже более 3 лет. Можете быть уверенны в качественной установке, у нас большой опыт.<br>
            Стандартная установка включает в себя установку клавиши для управления рамкой, но возможна также установка пульта дистанционного управления.
          </div>
          <table class="service_table" border="1">
            <thead>
            <tr>
              <th>Наименование услуги</th>
              <th>Стоимость установки</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Установка рамки перевертыша (за 1шт)</td>
              <td>от 5000 руб.</td>
            </tr>

            <tr>
              <td>Установка откидной рамки с тросом (без врезки в бампер)</td>
              <td>от 5000 руб.</td>
            </tr>

            <tr>
              <td>Установка откидной рамки с тросом (с врезкой в бампер)</td>
              <td>от 6000 руб.</td>
            </tr>

            <tr>
              <td>Установка откидной рамки без троса</td>
              <td>от 7000 руб.</td>
            </tr>

            <tr>
              <td>ТО рамки </td>
              <td>от 500-1000 руб.</td>
            </tr>

            <tr>
              <td>Замена троса в рамке (цена с учетом расходников)</td>
              <td>от 2500 руб.</td>
            </tr>

            <tr>
              <td>Замена троса в рамке со снятием (цена с учетом расходников)</td>
              <td>от 3000 руб.</td>
            </tr>

            <tr>
              <td>Окрашивание рамки в цвет кузова (от 3 дней под заказ)</td>
              <td>от 3000 руб.</td>
            </tr>

            <tr>
              <td>Установка и подключение пульта ДУ (цена с оборудованием)</td>
              <td>от 5500 руб.</td>
            </tr>

            <tr>
              <td>Доп работы </td>
              <td>от 500 руб.</td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class="section-install_content-video">
          <div class="video"><iframe width="100%" height="320" src="https://www.youtube.com/embed/X3ABQd-O4Yw" frameborder="0" allowfullscreen=""></iframe></div>
          <div class="video"><iframe width="100%" height="320" src="https://www.youtube.com/embed/vgVdhBARR8g" frameborder="0" allowfullscreen=""></iframe></div>
          <div class="video"><iframe width="100%" height="320" src="https://www.youtube.com/embed/Rsgz5lROlLY" frameborder="0" allowfullscreen=""></iframe></div>

          <!--<div class="video"><iframe width="100%" height="320" src="https://www.youtube.com/embed/a5u3-Q0n5ek" frameborder="0" allowfullscreen=""></iframe></div>-->

        </div>
      </div>

    </div>
  </div>
</section>